module.exports = {

	DOMAIN: 'http://your.board.index/',

	// https://www.google.com/recaptcha/
	RECAPTCHA_SITE_KEY: '',
	RECAPTCHA_SECRET_KEY: '',

	// https://www.pushbullet.com/#settings
	ACCESS_TOKEN: '',
	// https://www.pushbullet.com/my-channel to make a channel
	CHANNEL_TAG: '',
};
