module.exports = {

	DOMAIN: 'http://your.board.index/',

	// captchouli
	REPORTS: false,
	CAPTCHASERVER_PORT: 8512,
	
	// Discord Webhook https://discordapp.com/developers/docs/resources/webhook
	WEBHOOK_URL: '',
};
