module.exports = {

	DOMAIN: 'http://your.board.index/',

	// https://www.google.com/recaptcha/
	RECAPTCHA_SITE_KEY: '',
	RECAPTCHA_SECRET_KEY: '',
	
	// Discord Webhook https://discordapp.com/developers/docs/resources/webhook
	WEBHOOK_URL: '',
};
