body {
 background: black url("https://puu.sh/8N0Vb.png") no-repeat;
 font-family: "MS Pゴシック", "MS PGothic", "Mona", "Hiragino Kaku Gothic Pro";
 font-size: 12pt;
}
div {
 color: #f0f0f0;
 text-align: center;
 text-shadow: #800 0 2px 0;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 -webkit-transform: translate(-50%,-50%);
}