*.node
*.pid
*.swp
.build
.directory
.lock*
.DS_Store
authdump
config.js
graveyard
hot.js
jsmin
node_modules/
imager/tmp
imager/perceptual
imager/findapng
state
imager/build
tripcode/.build
tripcode/build
upkeep/credentials.json
voice/*.mp3
www/archive
www/js/client*.js
www/js/vendor*.js
www/src
www/thumb
www/mid
www/vint
/nbproject/
