this.hot = {
	// User feedback email
	EMAIL: "lalc@doushio.com",
	TITLES: {
		moe: "/moe/ - Sweets",
		gar: "/gar/ - Hard Work &amp; Guts",
		meta: "/meta/ - The Abyss",
		archive: "/archive/",
		graveyard: "/graveyard/",
		staff: "/staff/",
	},
	// Default CSS theme setting per board
	BOARD_CSS: {
		moe: 'moe',
		gar: 'gar',
		meta: 'mawaru',
		archive: 'archive',
		graveyard: 'mawaru',
		staff: 'moe',
	},

	// Client-side custom site-wide banner.
	CUSTOM_BANNER_BOTTOM: false,
	// Top Banner is changed with www/banner.txt

	// Bump this version whenever you change base.css
	BASE_CSS_VERSION: 42,
	// Bump this version whenever you modify any existing theme CSS
	THEME_CSS_VERSION: 8,

	THREADS_PER_PAGE: 10,
	// Replies to display under each thread on the board's root page
	ABBREVIATED_REPLIES: 5,
	// Default number of posts to display, when thread is expanded with the "Last N" link
	THREAD_LAST_N: 100,
	SUBJECT_MAX_LENGTH: 50,
	SAGE_ENABLED: true,
	// Titles for staff that will be displayed in their posts' headers
	ADMIN_ALIAS: 'Admin',
	MOD_ALIAS: 'Moderator',

	FAQ: [
		'Upload size limit is 20 MB',
		'Accepted upload file types: JPG, JPEG, PNG, APNG, GIF, WEBM',
		'<hr>',
		'Hash commands: ',
		'#&#60;number of dice(1-10)&#62;d&#60;dice sides(1-100)&#62; - Roll dice',
		'#flip - Coinflip',
		'#8ball - An 8ball',
		'#bully - Bully Spotted',
		'#bullcount - In-thread bully count',
		'#bulltotal - Total amount of bullies spotted',
		'#sw&#60;hours(optional)&#62;:&#60;minutes&#62;:&#60;seconds&#62;[+-]&#60;offset seconds(optional)&#62 - Syncronised duration timer',
		'&emsp;A positive offset adds a countdown. A negative offset starts the timer n seconds into the episode.'
	],

	// Array of answers for the 8ball random wisdom dispenser. To use, type "#8ball" in post, followed by enter.
  EIGHT_BALL: [
	  "Yes",
	  "No",
	  "Maybe",
	  "It can't be helped",
	  "Hell yeah, motherfucker",
	  'Ara ara~',
	  "That is my fetish",
	  "Anta baka?",
  ],

	INTER_BOARD_NAVIGATION: true,
	SPECIAL_TRIPCODES: {
		kyubey: "／人◕ ‿‿ ◕人＼",
	},
};
