.mod.addr {
	display: inline-block;
	position: static;
	text-decoration: none;
}
.mod.address {
	background-color: white;
	top: 0;
	right: 50%;
	transform: translate(50%,-105%);
	color: #444;
	position: absolute;
	padding: 1em;
	z-index: 30;
}
.mod.hidden {
	color: red;
}
.mod#toolbox {
	margin: 0.5em 0.5em 0.5em 1.0em;
}
.mod#panel {
	background-color: white;
	bottom: 50px;
	right: 50px;
	color: black;
	padding: 1em;
	position: fixed;
	right: 0;
	overflow-y: auto;
	max-height: 80%;
}
